.dash{
    background-color: #272935;
    width: 100%;
    height: 100vh;
}
.cardDash{
    padding: 2rem;
}
.dashEmoji div{
    width: 100%;
    background-color: #272935;
    margin: 10px 0;
    color: #FFF;
    display: flex;
    height: 55px;
    padding-left: 2rem;
    padding-top: 1rem;
}
.dashEmoji a{
    text-decoration: none;
}
.dashEmoji div i{
    position: relative;
    top: 5px;
}