.cardFils {
  width: 100%;
  background-color: #272935;
  padding: 4rem;
}

.cardFils .filcardbody {
  background-color: #272935;
  color: #fff;
  border: none;
}
.cardFils .cardFilImg {
  border: none;
  background-color: #272935;
}
.cardFils .filcard span {
  background-color: #6870e0;
  padding: 0.5rem;
  color: #fff;
}
.cardFils .filcard p {
  font-size: 1.1rem;
}
.cardFils .filcard h3 {
  margin-bottom: 2rem;
}
.cardFils .cardFilImg img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

@media (max-width: 1180px) {
  .cardFils .col-sm-6 {
    width: 100%;
  }
  .cardFils .col-sm-4 {
    width: 40%;
  }
}
@media (max-width: 720px) {
  .cardFils .col-sm-4 {
    width: 100%;
  }
}
@media (max-width: 653px) {
  .filcard h3 {
    font-size: 1rem;
  }
  .filcard p {
    font-size: 0.8rem;
  }
  .cardFils h5 {
    font-size: 1.1rem;
  }
  .cardFils {
    padding: 2rem;
  }
  .dashEmoji .mb-5 {
    margin-bottom: 1rem !important;
  }

  .dashEmoji .mt-5 {
    margin-top: 1rem !important;
  }
}
