#frame {
  background-color: aqua;
  width: 100%;
  height: 100vh;
  position: relative;
}

iframe {
  border: 2px solid purple;
  box-shadow: 3px 5px 5px grey;
}

.contact {
  position: absolute;
  border: 2px solid red;
  width: 50%;
  height: 30vh;
}
