.Profile {
  background-color: #272935;
  width: 100%;
  color: #fff;
}
.Profile #menu a {
  color: #8e8e93;
}

.Profile #menu a i {
  font-size: 1.5rem;
  position: relative;
  top: 3px;
  margin-top: 1.2rem;
}
.Profile #menu a span {
  position: relative;
  left: 1rem;
  color: #272935;
  font-weight: 400;
}
.Profile #menu a:hover {
  color: #6870e097;
  font-weight: 200;
}
.Profile #menu #ClickHover i {
  color: #6870e0;
}
.Profile #menu #ClickHover span {
  color: #6870e0;
  font-weight: 500;
}
.Profile #btnBottom {
  color: #272935;
  text-align: center;
}
.Profile a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .Profile .rapportCard2 td {
    display: flex;
    flex-wrap: wrap;
  }
  .Profile #btnBottom {
    bottom: 0 !important;
    padding: 5px !important;
    display: block;
    position: relative !important;
    width: 10vw;
  }
  .Profile #btnBottom h5 {
    font-size: 0.5rem;
  }
  .Profile #btnBottom h6 {
    font-size: 0.5rem;
  }
}

.Profile .profilCard img {
  width: 15vw;
  height: 30vh;
}
.Profile .cardProfilImg {
  height: 300px;
}
.Profile .profilCard .card {
  border: none;
}
.Profile .profile_Email hr {
  border: 1px solid dotted #272935;
}
.Profile .profile_Email p {
  text-align: center;
  font-size: 1.3rem;
}

.Profile .profile_Email .card-body {
  margin: 0px;
  padding: 0;
}
.Profile .profilebtn button {
  background-color: #6870e0;
  border: 1px solid #6870e0;
  border-top-left-radius: 1px;
}
.Profile .profilebtn button:hover {
  background-color: #fff;
  color: #6870e0;
  border: 1px solid #6870e0;
}
.Profile .profilebtn h3 {
  color: #6870e0;
}
.Profile .cardOnline {
  background-color: #272935;
  color: #fff;
  border-radius: 30px;
}
.Profile .cardOnline i {
  color: greenyellow;
  font-size: 30px;
}

@media (max-width: 1355px) {
  .Profile .cardProfilImg {
    position: relative;
    margin: 0;
    width: 100%;
  }
  .Profile .cardProfilImg img {
    width: 100%;
  }
  .Profile .profile_Email {
    width: 100%;
  }
}
@media (max-width: 774px) {
  .Profile .cardProfilImg img {
    height: 70%;
  }
}
