
.profilCard img{
    width: 15vw;
    height: 30vh;
}
.cardProfilImg {
    height: 300px;
}
.profilCard .card{
    border: none;
}
.profile_Email hr{
    border: 1px solid dotted #272935;
}
.profile_Email p{
    text-align: center;
    font-size: 1.3rem;
}

.profile_Email .card-body{
    margin: 0px;
    padding: 0;
}
.profilebtn button{
    background-color: #6870E0;
    border: 1px solid #6870E0;
    border-top-left-radius: 1px;
}
.profilebtn button:hover{
    background-color: #FFF;
    color: #6870E0;
    border: 1px solid #6870E0;
}
.profilebtn h3{
    color: #6870E0;
}
.cardOnline{
    background-color: #272935;
    color: #fff;
    border-radius: 30px;
}
.cardOnline i{
    color: greenyellow;
    font-size: 30px;
}



@media (max-width:1355px) {
    .cardProfilImg {
        position: relative;
        margin: 0;
        width: 100%;
    }
    .cardProfilImg img{
        width: 100%;
    }
    .profile_Email{
        width: 100%;
    }
}
@media (max-width: 774px) {
    .cardProfilImg img{
        height: 70%;
    }
}