.rapportH1{
    color: #6870E0;
}
.rapportCard1{
    background: none;
    border: none;
}
.rapportCard1 .btnRecherche{
    color: #FFF;
    border: 1px solid #6870E0;
}
.rapportCard1 .btnRecherche:hover{
    color: #ffffff9c;
    background-color: #6870E0;
}
.rapportCard1 .btnRestaurer{
    background-color: #6870E0;
    border: none;
    border: 1px solid #6870E0;
}
.rapportCard1 .btnRestaurer:hover{
    border: 1px solid #6870E0;
    color: #ffffff9c;
    background: none;
}
.rapportCard2 .btn{
    background-color: #272935;
    border: 1px solid #6870E0;
}

.rapportCard2 .btn:hover{
    background-color: #6870E0;
    color: #272935;
}
ins{
    color: #6870E0;
}