:root {
    --ma-couleur-principale: #262935;
    --ma-couleur-bouton: #6870e0;
    --mon--autre--couleur: #b6b9e5;
    --ma--couleur--text: #ffff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat Alternates", sans-serif;
  }
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }
