.Formulaire .container {
  width: 50%;
  height: 73vh;
  display: flex;
  position: relative;
  background-color: #ffff;
  margin-top: 10vh;
  padding-left: 3vw;
  padding-top: 8vh;
}

.Formulaire .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Formulaire .input {
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.Formulaire .cadre :focus ~ label,
.Formulaire .cadre:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  border-radius: 10px;
  padding: 0.4em;
  background-color: #6870e0;
  color: #ffff;
  top: fixed;
}

.Formulaire .form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.Formulaire .form button:hover:before {
  opacity: 0.2;
}

.Formulaire .form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.Formulaire .cadre {
  color: white;
  margin-left: 3vw;
  margin-top: 30px;
}
.Formulaire .cadre input,
.Formulaire .code input {
  color: white;
  width: 0%;
  font-size: 1.3rem;
  padding: 0.5em;
  outline: none;
  color: #262935;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.339);
  background: transparent;
  border-radius: 1px;
  width: 100%;
  resize: none;
}

.Formulaire .cadre label {
  font-size: 16px;
  position: absolute;
  left: 0;
  color: #262935;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
}

.Formulaire .cadre button {
  float: left;
  margin-left: 80%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #6870e0;
  margin-top: 3vh;
  padding: 5px;
  font-family: sans-serif;
}
